# Required
POSTGRES_DB: 'db-name'
POSTGRES_USER: 'username'
POSTGRES_PASSWORD: 'mypass12345%%%'
PORTS_PREFIX=10    # Prefix for the port range used in docker-compose.yml

# Optional (with defaults)
TZ=Europe/Berlin
LOG_LEVEL=INFO
COMPOSE_PROJECT_NAME=zenplate
